/* EC7C6D, 6DDEEC */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #334252;
    --secondary-color: #3DC7BE;
    --tertiary-color: #F75940;

    --background-color: beige;
}

.header,
.footer,
.buttonContainer,
.resultsContainer,
.rpsButtons {
    border: 2px solid var(--primary-color);
}

/* Handing Body Code */
body {
    height: 100vh;
    margin: 0;
    font-family: "Roboto";
    background-color: var(--tertiary-color);


    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* Handling LOGO + Header Code */
.logo img {
    height: 40px;
}

.header {
    background-color: var(--secondary-color);
    font-size: x-large;
    font-weight: bolder;
    color: white;
    text-shadow: 1px 1px 2px black;
    padding: 5px;


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


/* Handling Main UI (Game + Results Windows) */
.rpsUI {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: var(--tertiary-color);
}

.buttonContainer,
.resultsContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;

    background-color: var(--secondary-color);
    border-radius: 10px;
    margin: 8px;
    padding: 8px;
}

.resultsContainer {
    flex-grow: 4;
}

.rpsButtons {

    margin: auto;
    padding: 30px;
    width: auto;
    background-color: var(--primary-color);
    border-radius: 50%;
    font-size: 50px;


    display: flex;
    justify-content: center;
    align-items: center;
}

#r:hover { background-color: chocolate; }
#p:hover { background-color: cornflowerblue; }
#s:hover { background-color: blueviolet; }
.rpsButtons:hover {
    box-shadow: inset 0px 0px 20px 5px black,
        0px 0px 20px 3px red;
}



.rpsButtons img {
    width: 40px;
    transform: rotate(45deg);
}

/* Handling Footer Code */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    font-size: medium;
    background-color: var(--secondary-color);
}